@import url(https://fontlibrary.org//face/cinzel);
@import url(https://fontlibrary.org//face/libertinus-serif);

#game {
  font-family: 'CinzelBold';
  #setup {
    font-family: 'LibertinusSerifRegular';
  }
}

@keyframes pulse {
  0% {
    filter: brightness(1) drop-shadow(0 0 .2em #fcac);
  }

  25% {
    filter: brightness(1.1) drop-shadow(0 0 .5em #fcac);
  }

  100% {
    filter:d brightness(1) drop-shadow(0 0 .2em #fcac);
  }
}

@keyframes built {
  0% {
    filter: brightness(1) drop-shadow(0 0 0 #fff) drop-shadow(0 0 0 #fff);
    transform: scale(1);
  }

  65% {
    filter: brightness(1.75) drop-shadow(0 0 2em #fff) drop-shadow(0 0 5em #fff);
    transform: scale(1.4);
  }

  70% {
    filter: brightness(1.3) drop-shadow(0 0 2em #fff) drop-shadow(0 0 5em #fff);
    transform: scale(1);
  }

  100% {
    filter: brightness(1) drop-shadow(0 0 8em #fff4) drop-shadow(0 0 15em #fff4);
    transform: scale(1);
  }
}

#play-area {
  #field {
    #military-track {
      background-image: url(./assets/military-track.jpg);
      background-size: cover;
      position: absolute;
      left: 24%;
      width: 52%;
      height: 10%;
      top: 10%;
      clip-path: polygon(4% 0%, 0% 50%, 4% 100%, 96% 100%, 100% 50%, 96% 0%);
      .band {
        height: 100%;
        position: absolute;
        &.l4 {
          background: #f008;
          width: 6.8%;
          left: 0;
        }
        &.l3 {
          background: #f448;
          width: 15.2%;
          left: 6.8%;
          border-left: .01em solid #0008;
        }
        &.l2 {
          background: #f888;
          width: 15.2%;
          left: 22%;
          border-left: .01em solid #0008;
        }
        &.l1 {
          background: #faa8;
          width: 10.1%;
          left: 37.2%;
          border-left: .01em solid #0008;
        }
        &.c {
          background: #fff8;
          width: 5.4%;
          left: 47.3%;
          border-left: .01em solid #0008;
          border-right: .01em solid #0008;
        }
        &.r1 {
          background: #faa8;
          width: 10.1%;
          left: 52.7%;
          border-right: .01em solid #0008;
        }
        &.r2 {
          background: #f888;
          width: 15.2%;
          left: 62.8%;
          border-right: .01em solid #0008;
        }
        &.r3 {
          background: #f448;
          width: 15.2%;
          left: 78%;
          border-right: .01em solid #0008;
        }
        &.r4 {
          background: #f008;
          width: 6.8%;
          left: 93.2%;
        }
      }
      img.icons {
        position: absolute;
        width: 96%;
        height: auto;
        margin: 5% 2%;
      }
      img.reward-left5 {
        position: absolute;
        width: 13.6%;
        left: 7.6%;
        top: 68.5%;
        filter: drop-shadow(.01em .03em .03em #000c);
      }
      img.reward-left2 {
        position: absolute;
        width: 13.6%;
        left: 22.9%;
        top: 68.5%;
        filter: drop-shadow(.01em .03em .03em #000c);
      }
      img.reward-right2 {
        position: absolute;
        width: 13.6%;
        left: 63.5%;
        top: 68.5%;
        filter: drop-shadow(.01em .03em .03em #000c);
      }
      img.reward-right5 {
        position: absolute;
        width: 13.6%;
        left: 78.8%;
        top: 68.5%;
        filter: drop-shadow(.01em .03em .03em #000c);
      }
      .shield {
        position: absolute;
        width: 5%;
        top: 16%;
        height: 60%;
        transition: left .5s;
        filter: drop-shadow(.02em .06em .06em #000c);
      }
    }
  }

  #discard {
    .transform-wrapper:has(+ .transform-wrapper .Card:hover) .Card {
      transform: translateX(-60%) scale(1.1) rotate(-10deg);
      z-index: 2;
    }
    .transform-wrapper:has(.Card:hover) + .transform-wrapper .Card {
      transform: translateX(60%) scale(1.1) rotate(10deg);
      z-index: 2;

    }
  }

  #mat {
    font-size: .5em;
    text-align: center;

    .player-name {
      top: 0;
      width: 35%;
      text-align: right;
      height: 5%;
      left: 10%;
      color: white;
      font-size: .55em;
      position: absolute;
      padding: 0.25em 0.4em;
      border-radius: 0 0.4em 0.4em 0;
      overflow: hidden;
      white-space: nowrap;
      filter: drop-shadow(0 .2em .05em #0006);

      #game.mobile & {
        font-size: .8em;
      }
    }

    .avatar {
      height: 15%;
      width: 18.76%;
      position: absolute;
      left: 1%;
      top: 0;
      border-radius: 50%;
      border: .2em solid;
      filter: drop-shadow(0 .2em .05em #0006)
    }

    .score {
      font-size: 1em;
      position: absolute;
      left: 47%;
      width: 30%;
      text-align: left;
      .svg-icon {
        filter: drop-shadow(0 .2em .05em #0006);
      }
      .vp {
        transform: scale(1.1);
      }

      #game.mobile & {
        width: 40%;
        font-size: 2.4em;
      }
    }

    #buildings {
      .transform-wrapper:has(+ .transform-wrapper .Card:hover) .Card {
        transform: translateY(-30%) scale(1.2);
        z-index: 2;
      }
      .transform-wrapper:has(.Card:hover) + .transform-wrapper .Card {
        transform: translateY(30%) scale(1.2);
        z-index: 2;
      }
    }

    &[data-player="2"] {
      .player-name {
        text-align: left;
        right: 10%;
        left: auto;
        border-radius: 0.4em 0 0 0.4em;
      }

      .avatar {
        right: 1%;
        left: auto;
      }

      .score {
        right: 47%;
        left: unset;
        text-align: right;
      }
    }
  }

  .military-track {
    font-size: .6em;
    text-align: center;
  }

  [data-zoomed] .Card.selectable > div {
    box-shadow: none;
  }

  [data-zoomed] > .Card[data-name] {
    transition: none;
  }

  :not([data-zoomed]) > .Card[data-name]:hover {
    z-index: 20;
    transform: scale(1.6);
  }

  [data-zoomed] > .ProgressToken {
    transition: none;
  }

  :not([data-zoomed]) > .ProgressToken[data-name]:hover {
    z-index: 20;
    transform: scale(2);
  }

  [data-zoomed] > .Wonder {
    transition: none;
  }

  :not([data-zoomed]) > .Wonder:hover {
    z-index: 20;
    transform: scale(1.5);
  }

  #mat[data-player="1"] .Wonder {
    transform-origin: left;
  }

  #mat[data-player="2"] .Wonder {
    transform-origin: right;
  }

  .CardSlot {
    pointer-events: none;
    > * {
      pointer-events: all;
    }
  }

  .Card {
    color: black;
    text-align: left;
    transition: transform .2s;
    #game:not(.browser-firefox) & {
      perspective: 40vw;
    }

    &.selectable > div {
      animation: pulse 1.5s infinite;
      filter: none;
    }

    > div {
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      #game:not(.browser-firefox) & {
        transform-style: preserve-3d;
      }
      position: relative;
      font-size: .8em;

      .header {
        padding: 0.2em 0.4em 0;
        color: white;
        height: 20%;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: .7em;
        position: relative;
        &.military {
          background: #c00;
        }
        &.raw {
          background: #630;
        }
        &.manufactured {
          background: #99a;
        }
        &.civilian {
          background: #06f;
        }
        &.scientific {
          background: #070;
        }
        &.commercial {
          background: #a90;
          color: black;
        }
        &.guild {
          background: #60c;
        }

        .link {
          position: absolute;
          right: 5%;
          font-size: .6em;
          top: 25%;
        }

        #game.mobile & {
          height: 30%;
          font-size: 2.8em;
        }
      }

      .cost {
        position: relative;
        padding: 0.2em;
        font-size: 1.2em;
        text-align: left;
        height: 0;
        display: inline-block;
        background: #fff;
        border-width: 0.05em 0.05em 0.05em 0;
        border-radius: 0 0.2em 0.2em 0;
        border-color: #0008;
        border-style: solid;
        > span {
          position: relative;
          top: -.63em;
          left: 0%;
        }
        #game.mobile & {
          font-size: 2.2em;
          line-height: 1.4em;
          border: none;
        }
      }

      .free-link {
        position: relative;
        padding: 0.2em;
        font-size: 1.2em;
        text-align: left;
        height: 0;
        display: inline-block;
        background: #fff;
        border-width: 0.05em 0.05em 0.05em 0;
        border-radius: 0 0.2em 0.2em 0;
        border-color: #0008;
        border-style: solid;
        .svg-icon {
          background-color: #660;
          border-radius: 50%;
          border: 0.2em solid #660;
          position: relative;
          top: -0.58em;
        }
      }

      .name {
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 90%;
        text-align: center;
        background: #fffc;
        border-radius: .5em;
        border: .1em solid #000c;
        padding: 0.1em 0.1em 0.2em;

        html.dark & {
          background: #333;
          color: white;
        }
        #game.mobile & {
          font-size: 1.5em;
        }
      }

      .front, .back {
        border: .05em solid black;
        border-radius: 0.5em;
        overflow: hidden;
        background: white;
        box-shadow: -.1em -.2em .5em #0008;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      /* front pane, placed above back */
      .front {
        /* for firefox 31 */
        /* transform: rotateY(0deg); */

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          filter: contrast(.5) brightness(1.2) saturate(.6);
          html.dark & {
            filter: contrast(.5) brightness(.9) saturate(.6);
          }
        }
      }

      /* back, initially hidden pane */
      .back {
        transform: rotateY(180deg);
      }
    }

    &[data-name="Lumber Yard"] .front::before {
      background-image: url(../../images/Lumber\ Yard.webp);
    }

    &[data-name="Sawmill"] .front::before {
      background-image: url(../../images/Sawmill.webp);
    }

    &[data-name="Stone Pit"] .front::before {
      background-image: url(../../images/Stone\ Pit.webp);
    }

    &[data-name="Clay Pool"] .front::before {
      background-image: url(../../images/Clay\ Pool.webp);
    }

    &[data-name="Shelf Quarry"] .front::before {
      background-image: url(../../images/Shelf\ Quarry.webp);
    }

    &[data-name="Logging Camp"] .front::before {
      background-image: url(../../images/Logging\ Camp.webp);
    }

    &[data-name="Brickyard"] .front::before {
      background-image: url(../../images/Brickyard.webp);
    }

    &[data-name="Quarry"] .front::before {
      background-image: url(../../images/Quarry.webp);
    }

    &[data-name="Clay Pit"] .front::before {
      background-image: url(../../images/Clay\ Pit.webp);
    }

    &[data-name="Glassworks"] .front::before {
      background-image: url(../../images/Glassworks.webp);
    }

    &[data-name="Press"] .front::before {
      background-image: url(../../images/Press.webp);
    }

    &[data-name="Guard Tower"] .front::before {
      background-image: url(../../images/Guard\ Tower.webp);
    }

    &[data-name="Workshop"] .front::before {
      background-image: url(../../images/Workshop.webp);
    }

    &[data-name="Apothecary"] .front::before {
      background-image: url(../../images/Apothecary.webp);
    }

    &[data-name="Stone Reserve"] .front::before {
      background-image: url(../../images/Stone\ Reserve.webp);
    }

    &[data-name="Chamber Of Commerce"] .front::before {
      background-image: url(../../images/Chamber\ Of\ Commerce.webp);
    }

    &[data-name="Forum"] .front::before {
      background-image: url(../../images/Forum.webp);
    }

    &[data-name="Clay Reserve"] .front::before {
      background-image: url(../../images/Clay\ Reserve.webp);
    }

    &[data-name="Port"] .front::before {
      background-image: url(../../images/Port.webp);
    }

    &[data-name="Caravansery"] .front::before {
      background-image: url(../../images/Caravansery.webp);
    }

    &[data-name="Customs House"] .front::before {
      background-image: url(../../images/Customs\ House.webp);
    }

    &[data-name="Tribunal"] .front::before {
      background-image: url(../../images/Tribunal.webp);
    }

    &[data-name="Wood Reserve"] .front::before {
      background-image: url(../../images/Wood\ Reserve.webp);
    }

    &[data-name="Armory"] .front::before {
      background-image: url(../../images/Armory.webp);
    }

    &[data-name="Glass-Blower"] .front::before {
      background-image: url(../../images/Glass-Blower.webp);
    }

    &[data-name="Drying Room"] .front::before {
      background-image: url(../../images/Drying\ Room.webp);
    }

    &[data-name="Arsenal"] .front::before {
      background-image: url(../../images/Arsenal.webp);
    }

    &[data-name="Merchants Guild"] .front::before {
      background-image: url(../../images/Merchants\ Guild.webp);
    }

    &[data-name="Shipowners Guild"] .front::before {
      background-image: url(../../images/Shipowners\ Guild.webp);
    }

    &[data-name="Builders Guild"] .front::before {
      background-image: url(../../images/Builders\ Guild.webp);
    }

    &[data-name="Magistrates Guild"] .front::before {
      background-image: url(../../images/Magistrates\ Guild.webp);
    }

    &[data-name="Scientists Guild"] .front::before {
      background-image: url(../../images/Scientists\ Guild.webp);
    }

    &[data-name="Moneylenders Guild"] .front::before {
      background-image: url(../../images/Moneylenders\ Guild.webp);
    }

    &[data-name="Tacticians Guild"] .front::before {
      background-image: url(../../images/Tacticians\ Guild.webp);
    }

    &[data-name="Courthouse"] .front::before {
      background-image: url(../../images/Courthouse.webp);
    }

    &[data-name="Academy"] .front::before {
      background-image: url(../../images/Academy.webp);
    }

    &[data-name="Study"] .front::before {
      background-image: url(../../images/Study.webp);
    }

    &[data-name="Palace"] .front::before {
      background-image: url(../../images/Palace.webp);
    }

    &[data-name="Town Hall"] .front::before {
      background-image: url(../../images/Town\ Hall.webp);
    }

    &[data-name="Obelisk"] .front::before {
      background-image: url(../../images/Obelisk.webp);
    }

    &[data-name="Walls"] .front::before {
      background-image: url(../../images/Walls.webp);
    }

    &[data-name="Stable"] .front::before {
      background-image: url(../../images/Stable.webp);
    }

    &[data-name="Lighthouse"] .front::before {
      background-image: url(../../images/Lighthouse.webp);
    }

    &[data-name="Scriptorium"] .front::before {
      background-image: url(../../images/Scriptorium.webp);
    }

    &[data-name="Theater"] .front::before {
      background-image: url(../../images/Theater.webp);
    }

    &[data-name="Tavern"] .front::before {
      background-image: url(../../images/Tavern.webp);
    }

    &[data-name="Brewery"] .front::before {
      background-image: url(../../images/Brewery.webp);
    }

    &[data-name="Altar"] .front::before {
      background-image: url(../../images/Altar.webp);
    }

    &[data-name="Baths"] .front::before {
      background-image: url(../../images/Baths.webp);
    }

    &[data-name="Archery Range"] .front::before {
      background-image: url(../../images/Archery\ Range.webp);
    }

    &[data-name="Garrison"] .front::before {
      background-image: url(../../images/Garrison.webp);
    }

    &[data-name="Pharmacist"] .front::before {
      background-image: url(../../images/Pharmacist.webp);
    }

    &[data-name="Parade Ground"] .front::before {
      background-image: url(../../images/Parade\ Ground.webp);
    }

    &[data-name="Palisade"] .front::before {
      background-image: url(../../images/Palisade.webp);
    }

    &[data-name="Horse Breeders"] .front::before {
      background-image: url(../../images/Horse\ Breeders.webp);
    }

    &[data-name="Library"] .front::before {
      background-image: url(../../images/Library.webp);
    }

    &[data-name="Statue"] .front::before {
      background-image: url(../../images/Statue.webp);
    }

    &[data-name="Gardens"] .front::before {
      background-image: url(../../images/Gardens.webp);
    }

    &[data-name="Arena"] .front::before {
      background-image: url(../../images/Arena.webp);
    }

    &[data-name="Temple"] .front::before {
      background-image: url(../../images/Temple.webp);
    }

    &[data-name="Rostrum"] .front::before {
      background-image: url(../../images/Rostrum.webp);
    }

    &[data-name="Pantheon"] .front::before {
      background-image: url(../../images/Pantheon.webp);
    }

    &[data-name="Senate"] .front::before {
      background-image: url(../../images/Senate.webp);
    }

    &[data-name="Aqueduct"] .front::before {
      background-image: url(../../images/Aqueduct.webp);
    }

    &[data-name="School"] .front::before {
      background-image: url(../../images/School.webp);
    }

    &[data-name="University"] .front::before {
      background-image: url(../../images/University.webp);
    }

    &[data-name="Siege Workshop"] .front::before {
      background-image: url(../../images/Siege\ Workshop.webp);
    }

    &[data-name="Barracks"] .front::before {
      background-image: url(../../images/Barracks.webp);
    }

    &[data-name="Dispensary"] .front::before {
      background-image: url(../../images/Dispensary.webp);
    }

    &[data-name="Laboratory"] .front::before {
      background-image: url(../../images/Laboratory.webp);
    }

    &[data-name="Observatory"] .front::before {
      background-image: url(../../images/Observatory.webp);
    }

    &[data-name="Circus"] .front::before {
      background-image: url(../../images/Circus.webp);
    }

    &[data-name="Fortifications"] .front::before {
      background-image: url(../../images/Fortifications.webp);
    }

    &[data-age="1"] .back {
      background: linear-gradient(10deg, #520, #a40);
    }

    &[data-age="2"] .back {
      background: linear-gradient(10deg, #268, #4af);
    }

    &[data-age="3"] .back {
      background: linear-gradient(10deg, #628, #a4f);
    }

    &[data-age="3"][data-guild="true"] .back {
      background: linear-gradient(10deg, #416, #73c);
    }

    &:not([data-type]) > div {
      transform-style: preserve-3d;
      transform: rotateY(180deg);
    }
  }

  .Wonder {
    transition: transform .2s;

    .wonder-features {
      width: 100%;
      height: 100%;
      z-index: 0;
      position: absolute;
      background-size: cover;
      color: black;
      filter: drop-shadow(-.2em -.1em .4em #000c);
      border-radius: .4em;
    }

    &.newly-built {
      animation: built 2.8s .5s;
      z-index: 10;
    }

    &[data-name="The Pyramids"] .wonder-features {
      background-image: url(./assets/pyramids.jpg);
      .rewards {
        background: #5308;
      }
    }
    &[data-name="The Great Lighthouse"] .wonder-features {
      background-image: url(./assets/lighthouse.jpg);
      .rewards {
        background: #0558;
      }
    }
    &[data-name="The Colossus"] .wonder-features {
      background-image: url(./assets/colossus.jpg);
      .rewards {
        background: #0358;
      }
    }
    &[data-name="Circus Maximus"] .wonder-features {
      background-image: url(./assets/circus.jpg);
      .rewards {
        background: #5008;
      }
    }
    &[data-name="The Mausoleum"] .wonder-features {
      background-image: url(./assets/mausoleum.jpg);
      .rewards {
        background: #3058;
      }
    }
    &[data-name="The Hanging Gardens"] .wonder-features {
      background-image: url(./assets/hanging-gardens.jpg);
      .rewards {
        background: #0608;
      }
    }
    &[data-name="The Temple of Artemis"] .wonder-features {
      background-image: url(./assets/temple-of-artemis.jpg);
      .rewards {
        background: #5508;
      }
    }
    &[data-name="The Great Library"] .wonder-features {
      background-image: url(./assets/great-library.jpg);
      .rewards {
        background: #7508;
      }
    }
    &[data-name="The Statue of Zeus"] .wonder-features {
      background-image: url(./assets/statue-of-zeus.jpg);
      .rewards {
        background: #2338;
      }
    }
    &[data-name="The Sphinx"] .wonder-features {
      background-image: url(./assets/sphinx.jpg);
      .rewards {
        background: #5208;
      }
    }
    &[data-name="Piraeus"] .wonder-features {
      background-image: url(./assets/piraeus.jpg);
      .rewards {
        background: #0358;
      }
    }
    &[data-name="The Appian Way"] .wonder-features {
      background-image: url(./assets/appian-way.jpg);
      .rewards {
        background: #0448;
      }
    }

    &.selectable .wonder-features {
      animation: pulse 1.5s infinite;
      filter: none;
    }

    &.selected {
      z-index: 10;
    }

    .wonder-features {
      .cost {
        position: absolute;
        width: 2%;
        top: 0;
        left: 5%;
        line-height: 150%;
        background: #fff8;
        border-width: 0 0.05em 0.05em 0.05em;
        border-radius: 0 0 .2em .2em;
        border-color: #0008;
        border-style: solid;
        padding-bottom: .7em;
        span {
          position: relative;
          top: .2em;
          left: -.25em;
        }
        .svg-icon {
          filter: drop-shadow(.1em .1em .1em #0006) drop-shadow(-.1em -.1em .1em #0006) drop-shadow(.1em -.1em .1em #0006) drop-shadow(-.1em .1em .1em #0006);
        }

        #game.mobile & {
          font-size: 1.6em;
        }
      }

      .rewards {
        position: absolute;
        width: 12%;
        top: 5%;
        height: 90%;
        right: 3%;
        background: #3308;
        font-size: 1.2em;
        padding: 2% 1%;
        text-align: center;
        line-height: 1.2em;
        border: .1em solid black;
        border-radius: 0.4em;
        .destroy-amount {
          position: absolute;
          color: #c00;
          left: 0;
          top: 8%;
          width: 1.8em;
          text-shadow: 0 0 .1em white;
        }
        .svg-icon {
          margin: .2em 0;
          filter: drop-shadow(0 0 .1em #fffc);
        }
        .slash {
          color: #ccc;
          font-weight: bold;
          transform: translate(0.4em, -0.45em) rotate(45deg);
          height: 0;
        }

        #game.mobile & {
          width: 25%;
          font-size: 2em;
          columns: 2;
          column-fill: auto;
          column-gap: 0;
        }
      }

      .name {
        position: absolute;
        left: 20%;
        bottom: 5%;
        width: 60%;
        text-align: center;
        background: #fff8;
        border: .1em solid black;
        border-radius: .5em;
        padding: 0.1em 0.1em 0.2em;
        html.dark & {
          background: #333;
          color: white;
        }

        #game.mobile & {
          left: 20%;
          bottom: 5%;
          width: 40%;
          font-size: 1.5em;
        }
      }
    }

    .Card {
      position: absolute;
      width: 100%;
      transform: rotate(90deg) !important;
      z-index: -1 !important;
      right: -93%;
      bottom: 0;
    }
  }

  .ProgressToken {
    transition: transform .2s;
    transform-origin: top;
    &.selectable {
      filter: drop-shadow(0 0 1em #fff8) drop-shadow(0 0 .6em #fff8);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  span.svg-icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    filter: drop-shadow(0 0 .1em #000c);
    margin: 0 .1em;
  }

  span.vp {
    width: 1.5em;
    height: 1.3em;
    background-image: url(./assets/laurel.svg);
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 .1em white;
    .two-digit {
      font-size: .7em;
      vertical-align: 0.1em;
    }
  }

  span.coins {
    height: 1.3em;
    width: 1.3em;
    color: #ffc;
    text-shadow: -0.02em -0.02em 0.01em #660, 0.02em 0.02em 0.01em #fff;
    background-image: url(./assets/coin.svg);
    text-align: center;
    font-weight: bold;
    &.destroy {
      clip-path: polygon(0% 40%, 0% 0%, 110% 0%, 110% 100%, 0% 100%, 0% 60%, 40% 40%, 40% 80%, 110% 60%, 110% 40%, 60% 60%, 60% 20%);
    }
  }

  span.extra-turn {
    background-image: url(./assets/extra-turn.svg);
    width: 1.5em;
    height: 1.5em;
  }

  span.take-progress-discard {
    background-image: url(./assets/take-progress-discard.svg);
  }

  span.take-discard {
    background-image: url(./assets/take-discard.svg);
  }

  span.stone {
    background-image: url(./assets/stone.svg);
  }

  span.clay {
    background-image: url(./assets/clay.svg);
  }

  span.wood {
    background-image: url(./assets/log.svg);
  }

  span.glass {
    background-image: url(./assets/glass.svg);
  }

  span.papyrus {
    background-image: url(./assets/papyrus.svg);
  }

  span.shield {
    width: 1em;
    background-image: url(./assets/shield.svg);
  }

  span.link-scriptorium {
    background-image: url(./assets/book.svg);
  }

  span.link-stable {
    background-image: url(./assets/horseshoe.svg);
  }

  span.link-garrison {
    background-image: url(./assets/broadsword.svg);
  }

  span.link-archery-range {
    background-image: url(./assets/archery-target.svg);
  }

  span.link-parade-ground {
    background-image: url(./assets/crested-helmet.svg);
  }

  span.link-pharmacist {
    background-image: url(./assets/big-gear.svg);
  }

  span.link-garrison {
    background-image: url(./assets/broadsword.svg);
  }

  span.link-school {
    background-image: url(./assets/lyre.svg);
  }

  span.link-garrison {
    background-image: url(./assets/broadsword.svg);
  }

  span.link-laboratory {
    background-image: url(./assets/magic-lamp.svg);
  }

  span.link-theater {
    background-image: url(./assets/duality-mask.svg);
  }

  span.link-statue {
    background-image: url(./assets/ionic-column.svg);
  }

  span.link-altar {
    background-image: url(./assets/moon.svg);
  }

  span.link-temple {
    background-image: url(./assets/spikes-full.svg);
  }

  span.link-baths {
    background-image: url(./assets/drop.svg);
  }

  span.link-rostrum {
    background-image: url(./assets/greek-temple.svg);
  }

  span.link-tavern {
    background-image: url(./assets/painted-pottery.svg);
  }

  span.link-brewery {
    background-image: url(./assets/barrel.svg);
  }

  span.link-palisade {
    background-image: url(./assets/tower-flag.svg);
  }

  span.science-writing {
    background-image: url(./assets/quill-ink.svg);
  }

  span.science-wheel {
    background-image: url(./assets/wheel.svg);
  }

  span.science-chemistry {
    background-image: url(./assets/pestle-mortar.svg);
  }

  span.science-math {
    background-image: url(./assets/math.svg);
  }

  span.science-astronomy {
    background-image: url(./assets/orrery.svg);
  }

  span.science-sundial {
    background-image: url(./assets/sundial.svg);
  }

  span.science-law {
    background-image: url(./assets/scales.svg);
  }

  span.merchants {
    background-image: url(./assets/merchants-guild.svg);
    width: 2em;
  }

  span.moneylenders {
    background-image: url(./assets/moneylenders-guild.svg);
    width: 2em;
  }

  span.builders {
    background-image: url(./assets/builders-guild.svg);
    width: 2em;
  }

  span.scientists {
    background-image: url(./assets/scientists-guild.svg);
    width: 2em;
  }

  span.magistrates {
    background-image: url(./assets/magistrates-guild.svg);
    width: 2em;
  }

  span.tacticians {
    background-image: url(./assets/tacticians-guild.svg);
    width: 2em;
  }

  span.shipowners {
    background-image: url(./assets/shipowners-guild.svg);
    width: 2em;
  }

  .trades {
    position: relative;
    .coins {
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(.5) translateX(-0.6em);
      transform-origin: left top;
    }
  }

  .card-type {
    position: relative;
    display: inline-block;
    height: 1.2em;
    width: 0.9em;
    border: 0.05em solid white;
    border-radius: 0.1em;
    &.wonder {
      border: none;
      width: 1.8em;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(./assets/pyramid.svg);
    }
    &.military {
      background: #c00;
    }
    &.raw {
      background: #630;
    }
    &.manufactured {
      background: #99a;
    }
    &.civilian {
      background: #06f;
    }
    &.scientific {
      background: #070;
    }
    &.commercial {
      background: #a90;
    }
    &.guild {
      background: #60c;
    }

    &.destroy {
      clip-path: polygon(0% 40%, 0% 0%, 110% 0%, 110% 100%, 0% 100%, 0% 60%, 40% 40%, 40% 80%, 110% 60%, 110% 40%, 60% 60%, 60% 20%);
    }

    .coins {
      position: absolute;
      left: 65%;
      top: 40%;
      transform: scale(.5) translateX(-0.6em);
      transform-origin: left top;
    }
  }
}

.player-controls {
  font-size: .4em;

  #game.mobile & {
    font-size: 1.2em;
  }

  background: #fffcdc;
  color: #330;
  html.dark & {
    background: #aa8;
    color: #110;
  }
  box-shadow: inset 0 0 2em #0116, .2em .2em 1em #0008;
  button {
    background: #448;
    color: #fffcdc;
  html.dark & {
    background: #114;
    color: #cc9;
  }
    box-shadow: inset -0.2em -0.2em 0.5em -0.2em #000c, inset 0.2em 0.2em 0.5em -0.2em #fffc;
  }
}

.tooltip {
  font-family: 'LibertinusSerifRegular';
  font-size: .6rem;
  background: #220e;
  box-shadow: inset 0 0 1rem #220;
  #game.mobile & {
    font-size: 1rem;
  }
}
